## Hands-on 3B

#### Build a Decision Tree classifier to predict the survivality of the Titanic passengers based on the data pre-processed in Hands-on 2C.

In [1]:
# Initialization
%matplotlib inline
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
# Import libraries
from pandas import read_csv
from sklearn.model_selection import train_test_split as split, KFold, GridSearchCV
from sklearn.tree import DecisionTreeClassifier

To do: 
- Store the features as variable X and targets as variable y
- Split the features and targets into training and testing sets

In [3]:
df = read_csv('titanic_processed.csv')

     Pclass   Age  SibSp  Parch     Fare  Survived  Gender_female  Gender_male
0         3  22.0      1      0   7.2500         0              0            1
1         1  38.0      1      0  71.2833         1              1            0
2         3  26.0      0      0   7.9250         1              1            0
3         1  35.0      1      0  53.1000         1              1            0
4         3  35.0      0      0   8.0500         0              0            1
..      ...   ...    ...    ...      ...       ...            ...          ...
886       2  27.0      0      0  13.0000         0              0            1
887       1  19.0      0      0  30.0000         1              1            0
888       3  28.0      1      2  23.4500         0              1            0
889       1  26.0      0      0  30.0000         1              0            1
890       3  32.0      0      0   7.7500         0              0            1

[891 rows x 8 columns]

To do:
- Evaluate the performance of decision tree classifier on this dataset (using the default hyperparameter values)

To do: 
- Use grid search to fine tune the following hyperparameters
    * criterion ('gini' or 'entropy')
    * max_leaf_nodes (from 2 to 20)

To do:
- Train a decision tree classifier with the best set of hyperparameter values
- Evaluate the performance of the resulting classifier